# Created by .ignore support plugin (hsz.mobi)
### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/

.idea

# Jupyter Notebook
.ipynb_checkpoints

/0_5_2_trending.ipynb
/0_5_1_topic_modelling.ipynb
/src/trending.py
/models/
/data/interim/stenos_cleaned_topics.csv
/data/interim/stenos_cleaned_topics_inform.csv
/data/interim/stenos_cleaned_faction.csv
/data/interim/stenos_cleaned.csv
/data/interim/stenos.csv
/data/raw/stenos_from_links.json
/0_7_analyze_parties_speakers_topics.ipynb
/conf/

/wordvectors/
/data/interim/stenos_cleaned_topics_vecs.csv
